@CHARSET "ISO-8859-1";

html {
    height: 100%; 
	min-height: 100%;
}

body {
  height: 93%;
  min-height: 93%;
}


#header {
 background-image: url(../gfx/slice/header.png);
 height: 100px;
}

#header h1 { 
 font-family: 'Yanone Kaffeesatz', arial, serif; 
 font-size: 48px;
 text-shadow: 4px 4px 4px #207E62;
}

#header h2 { 
 padding-top: 40px;
 font-family: 'Yanone Kaffeesatz', arial, serif; 
 font-size: 24px;
 text-shadow: 4px 4px 4px #207E62;
}


#menu {
 color: #FFFFFF; 
 background-image: url(../gfx/slice/topmenu.png);
 height: 40px;
}

#footer {
 background-image: url(../gfx/slice/footer.png);
 height: 30px;
}


#content { 
  height: 100%;
  min-height: 100%;
}

#container { 
  height: 100%;
  min-height: 100%;
}

#leftColumn {
  background-image: url(../gfx/slice/leftmenu.png);
  background-repeat:repeat-y;
  height: 85%;
  min-height: 85%;
}

#news-column {
  background-image: url(../gfx/slice/rightcolumn.png);
  background-repeat:repeat-y;
  height: 85%;
  min-height: 85%;
}

.scroll-pane { 
  overflow-y: scroll; 
  width: 100%;
  min-height: 100%;
  height: 100%; 
  float: left; 
}
.scroll-content { 
  width: 99%; 
  float: left; 
}

.scroll-content-item { 
  width: 99%; 
  height: 100%; 
  float: left; 
  margin: 4px; 
  /*   font-size: 0.9em; 
     line-height: 12px; */
  text-align: left;
  border: 1px solid #dddddd;
}

* html .scroll-content-item { 
display: inline; 
} /* IE6 float double margin bug */

  
keng {
  color: #000000;
}
   
kfrn {
  color: #000000;
}
   
kger {
  color: #000000;
}

.summary {
	margin: 4px; 
}