@CHARSET "ISO-8859-1";
 
/* Palette color codes */
/* Feel free to copy&paste color codes to your application */
 
.primary-1 { background-color: #00A876 }
.primary-2 { background-color: #207E62 }
.primary-3 { background-color: #006D4C }
.primary-4 { background-color: #35D4A4 }
.primary-5 { background-color: #5FD4B1 }
 
.secondary-a-1 { background-color: #2219B2 }
.secondary-a-2 { background-color: #343085 }
.secondary-a-3 { background-color: #0E0874 }
.secondary-a-4 { background-color: #554DD8 }
.secondary-a-5 { background-color: #7872D8 }
 
.secondary-b-1 { background-color: #B7F300 }
.secondary-b-2 { background-color: #94B62D }
.secondary-b-3 { background-color: #779E00 }
.secondary-b-4 { background-color: #CBF93E }
.secondary-b-5 { background-color: #D7F970 }
 
/* end */
 
 
body {
	margin:0; padding: 2em;
	background:white;
	color: #666;
	font: 75%/1.33 Verdana, sans-serif;
	text-align:left;
	}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	}
 
.color-table {
	margin: 2em 2em 5em;
	border-collapse:collapse;
	border:none;
	border-spacing:0;
	font-size:100%;
	}
.color-table th {
	padding: 0 1em 0 0;
	text-align:right;
	vertical-align: middle;
	font-size:110%;
	border: none;
	}
.color-table td.sample {
	width:8em; height:8em;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	border: 1px solid white;
	}
.color-table.small td.sample {
	width:4em; height:4em;
	padding:0;
	border:none;
	}
.color-table .white { color:white }
.color-table .black { color:black }
 
hr {
	border:none;
	border-bottom:1px solid silver;
	}
#footer {
	/* padding:1em; */
	text-align:center;
	font-size:80%;
	}
